<FlexboxLayout class="page">
	<StackLayout class="form">
		<Image class="logo" src="~/images/logoE.png"></Image>
		<Label class="header" text="Economizer"></Label>

		<GridLayout rows="auto, auto, auto">
			<StackLayout row="0" class="input-field">
				<TextField class="input" hint="Email" [isEnabled]="!processing" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email" returnKeyType="next" (returnPress)="focusPassword()"></TextField>
				<StackLayout class="hr-light"></StackLayout>
			</StackLayout>

			<StackLayout row="1" class="input-field">
				<TextField #password class="input" [isEnabled]="!processing" hint="Contraseña" secure="true" [(ngModel)]="user.password" [returnKeyType]="isLoggingIn ? 'done' : 'next'" (returnPress)="focusConfirmPassword()"></TextField>
				<StackLayout class="hr-light"></StackLayout>
			</StackLayout>

			<StackLayout row="2" *ngIf="!isLoggingIn" class="input-field">
				<TextField #confirmPassword class="input" [isEnabled]="!processing" hint="Confirmar Contraseña" secure="true" [(ngModel)]="user.confirmPassword" returnKeyType="done"></TextField>
				<StackLayout class="hr-light"></StackLayout>
			</StackLayout>

			<ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
		</GridLayout>

		<Button [text]="isLoggingIn ? 'Iniciar' : 'Registrarse'" [isEnabled]="!processing" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
		<Label *ngIf="isLoggingIn" text="Olvidaste tu contraseña?" class="login-label" (tap)="forgotPassword()"></Label>
	</StackLayout>

	<Label class="login-label sign-up-label" (tap)="toggleForm()">
		<FormattedString>
			<Span [text]="isLoggingIn ? 'No tienes una cuenta? ' : 'Volver a Login'"></Span>
			<Span [text]="isLoggingIn ? 'Registrate!' : ''" class="bold"></Span>
		</FormattedString>
	</Label>
</FlexboxLayout>
